<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center;">
        <h1>Find your match</h1>
        <p class="lead">All you need is SignUp</p>
        <div class="text-center">
            <button (click)="RegisterToggle()"  class="btn btn-primary btn-lg mr-2">Register</button>
            <button class="btn btn-info btn-lg ">Learn more</button>
        </div>
    </div>
    <div *ngIf="registerMode" class="container">
        <div class="row justify-center">
            <div class="col-4">
                <app-register [usersFromHomeComponent="users"]></app-register>
            </div>
        </div>
    </div>
</div>
